In [58]:
"""
Modules
"""
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics
print(statistics.mean([1,2,3,4,5]))
from math import sin, cos
print(sin(17))

3
-0.9613974918795568

In [60]:
"""
Variables
"""
print(type(17))
print(type(False))
print(type("Hello World"))
print(type(-3.33))

<class 'int'>
<class 'bool'>
<class 'str'>
<class 'float'>

In [3]:
"""
Type conversion
"""
str = "17"
i = int(str)
f = float(str)
print(type(str), str)
print(type(i), i)
print(type(f), f)

<class 'str'> 17
<class 'int'> 17
<class 'float'> 17.0

In [68]:
"""
Numeric Operations
"""
x = 3
y = 2
print(x/y)
print(x//y)
print(x%y)
print(x**y)
print(-x)
print(abs(x))

1.5
1
1
9
-3
3

In [7]:
"""
Slicing
"""
word = "Anurag"
print(word[0])
print(word[2:])
print(word[:5])
print(word[-1])
print(word[-2:])

A
urag
Anura
g
ag

In [12]:
"""
String Methods
"""
word = "hello world"
word.upper()
word.title()
"ll" in word
word.capitalize()

'Hello world'

In [16]:
"""
List index and element
"""
mylist = [2,3,4]
for index, element in enumerate(mylist):
    print("{0} {1}".format(index, element))

0 2
1 3
2 4

In [20]:
"""
Tuple Packing and Unpacking : Swap two numbers
"""
x = 1
y = 2
var_tuple = x, y
y, x = var_tuple
print("x: ", x)
print("y: ", y)

x:  2
y:  1

In [29]:
"""
Lists are mutable
"""
l = [1,2,3]
lmap = map(lambda x: x*x, l)
print(list(lmap))
type(list(lmap))

[1, 4, 9]

list

In [26]:
"""
Python uses tuples to return multiple values from functions
"""
def doSomething():
    return 1, 2, 3

x = doSomething();
type(x)

tuple

In [51]:
(False and False and True and False and True and True or True or False or True and False) and False

False