In [6]:
#Create a dataset of male and female commuters
import pandas as pd
dict = {'WFH': [2.9,3.7],'<5': [3.2, 3.3], '5-9':[9.7,11.8], '10-14': [13.5,15.7], '15-19':[14.7,16.1],'20-24':[13.9,14.1],'25-29':[5.6,5.6],'30-34':[13.5, 11.9],'35-39':[2.7,2.3],'40-44':[3.4,2.9],'45-59':[7.9,6.3],'60-89':[5.8,4.2], '90>':[3.3,2]}

dataframe = pd.DataFrame(data=dict)
dataframe

,10-14,15-19,20-24,25-29,30-34,35-39,40-44,45-59,5-9,60-89,90>,<5,WFH
0,13.5,14.7,13.9,5.6,13.5,2.7,3.4,7.9,9.7,5.8,3.3,3.2,2.9
1,15.7,16.1,14.1,5.6,11.9,2.3,2.9,6.3,11.8,4.2,2.0,3.3,3.7